<div class="flex-container mt-5">

  <div class="row">

    <div *ngIf="active">
        <div class="card" style="width: 18rem;">
          <img src="{{(this.data['image']) ? this.data['image'] : ''}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Nombre: species{{this.data.name}}</h4>
            <div>
              <h5>Sexo: {{this.data.gender}}</h5>
              <h5>Tipo: {{this.data.species}}</h5>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="w-100 btn btn-lg btn-primary" type="button" (click)="store(this.data.id)">
            Guardar como Favorito
          </button>
          <h6 *ngIf="message" class="mt-5 text-danger text-center">{{this.message}}</h6>
        </div>
    </div>
  </div>
</div>

