<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="nav-link" routerLink="/">Inicio</a>

        <a *ngIf="loggedIn" class="nav-link" routerLink="/information">Mi cuenta</a>

        <a *ngIf="loggedIn" class="nav-link" routerLink="/information/character">Personajes</a>

        <a routerLink="/login" class="nav-link" *ngIf="!loggedIn">Entrar</a>
        <a routerLink="/register" class="nav-link" *ngIf="!loggedIn">Registrarse</a>
        <a routerLink="/account" class="nav-link mr-5" *ngIf="loggedIn">Bienvenido, {{this.name}}</a>
        <a routerLink="/" class="nav-link" *ngIf="loggedIn" (click)="logout()">Salir</a>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
