.nav-link{
  color:white;
}
.nav-link:hover{
  margin-left: 10px;
  padding: 1vh 1vw;
  background: rgba(0,0,0,0.5);
  box-shadow: 10px 5px 5px #ffffff;
  border-radius: 10px;
}

.container-fluid{
  display: flex;
  justify-content: space-around;
}
